.gallery{
    background: url(../img/bg.webp) no-repeat fixed;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.row{
    margin-bottom: 2rem;
}

.row h1 {
    margin: 2rem;
    color: #000;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}

.column{
    display: flex;
    gap: 10px;
}

.col1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col1 img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}